.back-button {
    height: 50px;
    width: 320px;
    background: #ffffff;
    color: rgb(10, 11, 11);
    font-weight: bold;
    text-align: start;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
    margin-bottom: 15px;
}

.security-image-icon{
    height: 80%;
    width: 80%;
}